html , body  {
    height: 100%;
    margin:0%;
}
.image{
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: rgba(255,255,255,0.2);
    width: 600px ;
    height: 500px;
    position: absolute;
    top:50% ;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(255,255,255,0.7);
    border:1px solid rgba(255,255,255,0.3) ;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction:column;
    padding: 0px 10px 0px 10px ;


}
h2{
    text-align: center;
    padding: 0%;
    padding-top: 5vh;
    font-family: 'Roboto', sans-serif; 
    color: rgb(253, 253, 230);
}
form input{
    padding: 0.5em;  
    margin: 5px auto; /*T R L B*/
    width: 96.6%;
    border: 2px solid whitesmoke;
    background: none;
    border-radius: 10px;
    color: rgb(253, 253, 230);
}
form input:hover{
    border-color:#ffa260 ;
}


button{
    padding: 10px 0 10px 0 ;
    width: 99.3%;
    
    margin: 15px auto ;
    border-radius:10px  ;
    border: none ;
    background-color: #8FBE3D;
    color:  rgb(255, 255, 255);

}

button:hover{
   background-color: #a2be3d;
}
/* #Name , #email , #pass , #cpass ,#button {
    display: block;
    
} */

.footer p , .container p {
    text-align: center;
    padding: 0em  ; /*top right bottom left*/
    color: white ;
    text-decoration: antiquewhite;
    font-size: 15px ;
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
    color: #02cee9;
}

@media (max-width:600px){
    
    .container{
        width: 400px;
        height: 500px;
    }
    button{ 
      width: 100%;
    }
    form input{
        width: 95.6%; 
    }
}


@media(max-width:500px){
    h2{
        color: yellow;
    }
    .container{
        width: 300px;
        height: 490px;
        
    }
    button{ 
        width: 100%;
      }
    form input{
          width: 94.6%; 
    }
    .footer p , .container p {
    font-size: 13px;
    }
}
